@model Watch.Models.LocalPasswordModel


<link href="~/Content/Login.css" rel="stylesheet" />

<div class="container">
    <div class="wrapper">
        <div class="form-signin">

            @using (Html.BeginForm("Manage", "Account"))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()
                <p class="message-success" style="color:green; text-align:center">@ViewBag.StatusMessage</p>
                <h3 class="form-signin-heading">Change password</h3>
                <hr class="colorgraph">
                <br>
                <ul>
                    <li><p>You're logged in as <strong>@User.Identity.Name</strong>.</p></li>
                    <li>
                        
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control",placeholder ="OldPassword" })
                    </li>
                    <li>
                       
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control",placeholder ="NewPassword" })
                    </li>
                    <li>
                      
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control",placeholder ="ConfirmPassword" })
                    </li>
                </ul>
                 <button class="btn btn-lg btn-primary btn-block"  name="Submit" value="Register" type="Submit">Change password</button>    
                
    
            }
        </div>

    </div>
</div>
