@model Watch.Models.Product



@{
    ViewBag.Title = "Edit";
}





@using (Html.BeginForm("Edit", "Product", null, FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

   
        

    @Html.HiddenFor(model => model.Id)

    
    
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading inbox-head">
                        <div class="col-md-6">

                            <div class="col-md-3">
                                <h3>Index</h3>
                            </div>


                        </div>


                    </div>
                    <br />


                    <div class="form-group">
                        <label for="inputProductId" class="col-md-2 col-sm-2 control-label">Watch ID</label>

                        <div class="col-md-9 col-sm-9">
                            @Html.TextBoxFor(model => model.ProductId, new { @class = "form-control" })


                            @Html.ValidationMessageFor(model => model.ProductId)
                        </div>

                    </div>

                    <div class="form-group">
                        <label for="inputName" class="col-md-2 col-sm-2 control-label">Name</label>

                        <div class="col-md-9 col-sm-9">
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Name)
                        </div>

                    </div>

                    <div class="form-group">
                        <label for="inputPrice" class="col-md-2 col-sm-2 control-label">Price</label>

                        <div class="col-md-9 col-sm-9">
                            @Html.TextBoxFor(model => model.Price, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Price)
                        </div>

                    </div>

                    <div class="form-group">
                        <label for="inputDescription" class="col-md-2 col-sm-2 control-label">Description</label>

                        <div class="col-md-9 col-sm-9">
                            @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Description)
                        </div>

                    </div>

                      <div class="form-group">
                        <label for="inputCategory" class="col-md-2 col-sm-2 control-label">Category</label>

                        <div class="col-md-4 col-sm-4">
                           @* @Html.DropDownListFor(model => model.Category , ViewData["CategoryName"] as SelectListItem[], new { @class = "form-control" })*@
                           @* @Html.DropDownListFor(model => model.Category, (IEnumerable<SelectListItem>)ViewBag.CategoryName, "Please select")*@
                            @Html.DropDownListFor(model => model.Category, new SelectList(ViewBag.SearchStatusList, "Value", "Text", ViewBag.SelectedItem),new {@class = "form-control"})
                        </div>

                    </div>

                    <div class="form-group">
                        <label for="inputFiles" class="col-md-2 col-sm-2 control-label">Select Files</label>

                        <div class="col-md-4 col-sm-4">
                            <input type="file" name="file" multiple="multiple" class="form-control" />
                        </div>

                    </div>


                    @*<div class="form-group">
                        <label for="inputFiles" class="col-md-2 col-sm-2 control-label">Select Files</label>

                        <div class="col-md-4 col-sm-4">
                            <input type="file" name="subfile" multiple="multiple" class="form-control" />
                        </div>

                    </div>*@
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div>

                                <ul class="attachment">
                                    <h4>Main Image</h4>
                                    @foreach (var item in Model.MainImages)
                                    {              
                                        <li>
                                           @* <a class="title" href="/Product/Download/?p=@(item.Id + item.Extension)&d=@item.FileName">@item.FileName</a>*@
                                            @item.FileName
                                            <a href="javascript:void(0);" data-id="@item.Id" class="deleteItem" style="color:red">X</a>
                                        </li>            
                                    }
                                </ul>
                                <ul>
                                    <h4>Sub Images</h4>
                                    @foreach (var item in Model.SubImages)
                                    {
                                        <li>
                                          @item.ImageName
                                            
                                             <a href="javascript:void(0);" data-id="@item.Id" class="deleteSubItem" style="color:red">X</a>
                                        </li>
                                    }

                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">

                            <input type="submit" class="btn btn-success" value="Save" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div>
                                @Html.ActionLink("Back to List", "Index")
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
  
 
}

@section Scripts {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <script>
        $('.deleteItem').click(function (e) {
            e.preventDefault();
            var $ctrl = $(this);
            if (confirm('Do you really want to delete this file?')) {
                $.ajax({
                    url: '@Url.Action("DeleteFile")',
                    type: 'POST',
                    data: { id: $(this).data('id') }
                }).done(function (data) {
                    if (data.Result == "OK") {
                        $ctrl.closest('li').remove();
                    }
                    else if (data.Result.Message) {
                        alert(data.Result.Message);
                    }
                }).fail(function () {
                    alert("There is something wrong. Please try again.");
                })

            }
        });
    </script>
    <script>
        $('.deleteSubItem').click(function (e) {
            e.preventDefault();
            var $ctrl = $(this);
            if (confirm('Do you really want to delete this file?')) {
                $.ajax({
                    url: '@Url.Action("DeleteSubFile")',
                    type: 'POST',
                    data: { id: $(this).data('id') }
                }).done(function (data) {
                    if (data.Result == "OK") {
                        $ctrl.closest('li').remove();
                    }
                    else if (data.Result.Message) {
                        alert(data.Result.Message);
                    }
                }).fail(function () {
                    alert("There is something wrong. Please try again.");
                })

            }
        });
    </script>

}
